@use "../../index.scss";

.masterlist-toolbar {
  position: relative;
  padding: 10px;
  background-color: inherit;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;

    @media (max-width: 350px) {
      display: flex;
      flex-wrap: wrap;
    }
  }

  &__title {
    display: flex;
    gap: 10px;

    @media (max-width: 570px) {
      display: none;
    }
  }

  &__addBtn {
    display: flex;
    position: absolute;
    top: -45px;
    right: 5px;
    gap: 10px;
  }
}
