@use "../index.scss";

.footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 30px;
  width: 100%;
  padding-right: 10px;
  gap: 10px;
  color: index.$secondary;

  &__label {
    color: index.$secondary;
    font-size: 14px;
  }

  &__status {
    display: flex;
    align-items: center;
    // color: index.$primary;
    font-weight: bold;
    gap: 5px;
  }
}
