@use "../index.scss";

.homepage {
  display: flex;
  position: relative;
  height: 100vh;
  background: #f8f8f8;
  // overflow-x: auto;

  &__sidebar {
    z-index: 3;
    box-shadow: 20px 20px 24px #e7e7e7, -20px -20px 24px #fdfdfd;
  }

  &__content {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: auto;
  }

  &__body {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: auto;
    margin: 10px;
  }
}
