@use "../index.scss";

.homepage {
  display: flex;
  position: relative;
  height: 100vh;
  background: #f8f8f8;

  &__sidebar {
    box-shadow: 20px 20px 64px #e7e7e7, -20px -20px 64px #fdfdfd;
  }

  &__content {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__body {
    flex: 1;
    display: flex;
    justify-content: center;
    overflow-x: auto;
    width: 100%;
  }
}
