@use "../index.scss";

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;

  background: rgb(249, 170, 51);
  // background: linear-gradient(
  //   157deg,
  //   rgba(249, 170, 51, 1) 25%,
  //   rgba(52, 73, 85, 1) 75%
  // );

  background-image: url("src/Img/wallpaper.svg");
  background-size: cover;
  background-repeat: no-repeat;

  &__container {
    display: flex;
    justify-content: center;
    height: 450px;
    width: 850px;
    border-radius: 10px;
    box-shadow: 3.4px 3.4px 4.4px rgba(0, 0, 0, 0.14),
      8.7px 8.7px 11.1px rgba(0, 0, 0, 0.097),
      17.7px 17.7px 22.7px rgba(0, 0, 0, 0.078),
      36.5px 36.5px 46.7px rgba(0, 0, 0, 0.062),
      100px 100px 128px rgba(0, 0, 0, 0.043);

    @media (max-width: 890px) {
      box-shadow: none;
    }
  }

  &__logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: clamp(150px, 100%, 80%);
    border-radius: 10px;
    background-image: url("src/Img/logo-container.svg");
    background-size: contain;
    // background-repeat: no-repeat;

    @media (max-width: 890px) {
      display: none;
    }
  }
  &__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80%;
    border-radius: 10px;
    user-select: none;

    -webkit-backdrop-filter: blur(8px); /* Safari 9+ */
    backdrop-filter: blur(8px); /* Chrome and Opera */
    box-shadow: 0px 10px 15px 10px rgb(0 0 0 / 15%);
    background-color: rgb(228 228 228 / 15%);
  }

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
    position: relative;
    margin-left: -8px;
    border-radius: 10px;
    width: clamp(150px, 100%, 80%);
    gap: 20px;
    color: index.$text;
    background: #cfcfcf;
    user-select: none;

    @media (max-width: 375px) {
      width: 80%;
    }

    @media (max-width: 890px) {
      border-radius: 10px;
      margin-left: 0;
      box-shadow: 3.4px 3.4px 4.4px rgba(0, 0, 0, 0.14),
        8.7px 8.7px 11.1px rgba(0, 0, 0, 0.097),
        17.7px 17.7px 22.7px rgba(0, 0, 0, 0.078),
        36.5px 36.5px 46.7px rgba(0, 0, 0, 0.062),
        100px 100px 128px rgba(0, 0, 0, 0.043);
    }
  }

  &__form-logo {
    display: none;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 0;

    @media (max-width: 890px) {
      display: flex;
    }
  }

  &__text-field {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    gap: 15px;
  }

  &__copyright {
    text-align: center;
    line-height: 10px;
    margin-top: 10px;
    width: 100%;
    user-select: none;

    & > p {
      font-size: 8px;
      color: index.$text;
      white-space: nowrap;
      margin: 0;
    }
  }

  &__error-message {
    top: 0;
    left: 0;
    right: 0;
    margin-left: 40px;
    margin-right: 40px;
    position: absolute;

    background: #729eb8;
    padding: 5px;
    border-radius: 10px;
    transition: all ease-in-out 2;
    text-align: center;

    @media (max-width: 890px) {
      top: -60px;
      position: block;
    }
  }
}
