@use "../index.scss";

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  background: rgb(249, 170, 51);
  background: linear-gradient(
    157deg,
    rgba(249, 170, 51, 1) 25%,
    rgba(52, 73, 85, 1) 75%
  );

  &__container {
    display: flex;
    justify-content: center;
    height: 450px;
    width: 850px;
    border-radius: 10px;
  }

  &__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    // width: 100%;
    width: clamp(150px, 100%, 80%);
    border-radius: 10px 0 0 10px;
    box-shadow: 0px 10px 15px 10px rgb(0 0 0 / 15%);
    background: #cfcfcf;

    @media (max-width: 890px) {
      display: none;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0 10px 10px 0;
    width: clamp(150px, 100%, 80%);
    gap: 30px;
    color: index.$text;

    -webkit-backdrop-filter: blur(8px); /* Safari 9+ */
    backdrop-filter: blur(8px); /* Chrome and Opera */
    box-shadow: 0px 10px 15px 10px rgb(0 0 0 / 15%);
    background-color: rgb(228 228 228 / 15%);

    @media (max-width: 375px) {
      width: 90%;
    }
    @media (max-width: 890px) {
      border-radius: 10px;
    }
  }

  &__text-field {
    display: flex;
    flex-direction: column;
    gap: 14px;
  }
}
