// $primary: #00adb5;
// $secondary: #393e46;
// $background: #eeeeee;
// $text: #222831;
// $scrollBar: #a6a6a6;

$primary: #f9aa33;
$secondary: #344955;
$background: #eeeeee;
$text: #2c3639;
$scrollBar: #a6a6a6;

:root {
  font-family: "Raleway", "Anton", "Josefin Sans" sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

// SCROLL BAR
/* width */
::-webkit-scrollbar {
  z-index: 100;
  width: 10px;
  max-height: 12px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #e4e4e4;
  border-radius: 5px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #b0b2b6;
  border-radius: 5px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(139, 139, 139);
}

// Autofill Background
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s, color 5000s ease-in-out 0s;
  transition-delay: background-color 5000s, color 5000s;
}

body {
  margin: 0;
  padding: 0;
}

img {
  -webkit-user-drag: none;
  user-select: none;
}

.mcontainer {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 10px 10px;
  color: $secondary;
  margin: 0 auto;
  width: 90%;
  height: 250px;
  // height: 100vh;

  flex: 1;

  & &__wrapper {
    padding: 5px 0;
    background: #fdfdfd;
    border: #34495515 solid 1px;
    border-radius: 10px;

    @media (max-width: 350px) {
      margin-top: 50px;
    }
  }

  & &__title {
    margin-bottom: 10px;
    @media (max-width: 350px) {
      display: none;
    }
  }

  & &__table {
    border-radius: 10px;
  }

  & &__th-body {
    height: 54vh;
    // max-height: 400px;
    // padding-bottom: 30px;
  }
  & &__th-body-category {
    height: 48vh;

    // max-height: 360px;
    // padding-bottom: 30px;
  }

  & &__th-cell {
    font-weight: 600;
    padding: 10px 20px;
    color: $secondary;
    border-bottom: 3px solid $background;
    overflow-y: overlay;
  }

  & &__tr-cell {
    font-size: small;
    padding: 10px 20px;
    border-bottom: 3px solid $background;
    overflow-y: overlay;
    color: $text;

    @media (max-height: 600px) {
      padding: 8px 20px;
    }
  }

  & &__text-center {
    width: auto;
    align-items: center;
    text-align: center;
  }

  & &__text-weight {
    font-weight: 600;
    color: #2c3639c0;
  }

  & &__text-font {
    font-size: 12px;
    line-height: 12px;
  }

  & &__pagination {
    box-shadow: 0px -3px 19px -10px rgba(166, 166, 166, 0.4);
  }

  & &__pagination-export {
    display: flex;
    justify-content: space-between;
    box-shadow: 0px -3px 19px -10px rgba(166, 166, 166, 0.4);
    flex-wrap: wrap;
  }

  .tab__background {
    background: #fdfdfd;
    box-shadow: 0px -3px 19px -10px rgba(166, 166, 166, 0.4);
    font-weight: bold;
    border-radius: 5px;
    border: 1px solid $background;
  }
}

.skeleton__height {
  height: 46.5vh;
}
