$primary: #00adb5;
$secondary: #393e46;
$background: #eeeeee;
$text: #222831;
$scrollBar: #a6a6a6;

:root {
  /* font-family: Inter, Avenir, Helvetica, Arial, sans-serif; */
  font-family: "Raleway", "Anton", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  // color-scheme: light dark;
  // color: rgba(255, 255, 255, 0.87);
  // background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

// SCROLL BAR
/* width */
::-webkit-scrollbar {
  z-index: 100;
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #e4e4e4;
  border-radius: 5px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #b0b2b6;
  border-radius: 5px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(139, 139, 139);
}

body {
  margin: 0;
  padding: 0;

  // min-width: 320px;
  // min-height: 100vh;
}

img {
  -webkit-user-drag: none;
  user-select: none;
}
