// $primary: #00adb5;
// $secondary: #393e46;
// $background: #eeeeee;
// $text: #222831;
// $scrollBar: #a6a6a6;

$primary: #f9aa33;
$secondary: #344955;
$background: #eeeeee;
$text: #2c3639;
$scrollBar: #a6a6a6;

:root {
  /* font-family: Inter, Avenir, Helvetica, Arial, sans-serif; */
  font-family: "Raleway", "Anton", "Josefin Sans" sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  // color-scheme: light dark;
  // color: rgba(255, 255, 255, 0.87);
  // background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

// SCROLL BAR
/* width */
::-webkit-scrollbar {
  z-index: 100;
  width: 10px;
  max-height: 12px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #e4e4e4;
  border-radius: 5px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #b0b2b6;
  border-radius: 5px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(139, 139, 139);
}

// Autofill Background
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s, color 5000s ease-in-out 0s;
  transition-delay: background-color 5000s, color 5000s;
}

body {
  margin: 0;
  padding: 0;
  background: rgb(249, 170, 51);

  // min-width: 320px;
  // min-height: 100vh;
}

img {
  -webkit-user-drag: none;
  user-select: none;
}

.mcontainer {
  display: flex;
  flex-direction: column;
  padding: 10px 10px;
  color: $secondary;
  margin: 0 auto;
  width: 90%;

  & &__wrapper {
    margin-top: 10px;
    padding: 5px 0;
    background: #fdfdfd;
    border: #34495515 solid 1px;
    border-radius: 10px;
  }

  & &__table {
    border-radius: 10px;
  }

  & &__th-cell {
    font-weight: 600;
    padding: 10px 20px;
    color: $secondary;
    border-bottom: 3px solid $background;
  }

  & &__tr-cell {
    font-size: small;
    padding: 10px 20px;
    border-bottom: 3px solid $background;
    overflow-y: auto;
  }

  & &__text-center {
    width: 10px;
    align-items: center;
    text-align: center;
  }

  & &__text-weight {
    color: $text;
    font-weight: 600;
  }
}
